
.home-main-slogan{
  color: white;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

}

.slogan-1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          
}

 @-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.slogan-2{
  animation: bouncing 2s 1s forwards alternate;
  opacity: 0;
}

@keyframes bouncing{
  0%  {  
    transform: translateY(200%);
    opacity: 0;
  }
  100%{  
    transform: translateY(0%);
    opacity: 1;
  }
}
#home{
  min-height:100vh;
  padding-top:70px;
  width:100%;
}
.home-start {
    background-image: url('../src/img/home-background.jpg');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100vh;
  }
  .home-start-style{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  
  }
  