
.home-main-slogan{
  color: white;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

}

.slogan-1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          
}

 @-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.slogan-2{
  animation: bouncing 2s 1s forwards alternate;
  opacity: 0;
}

@keyframes bouncing{
  0%  {  
    transform: translateY(200%);
    opacity: 0;
  }
  100%{  
    transform: translateY(0%);
    opacity: 1;
  }
}
#home{
  min-height:100vh;
  padding-top:70px;
  width:100%;
}
.home-start {
    background-image: url('../src/img/home-background.jpg');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    width: 100%;
    height: 100vh;
  }
  .home-start-style{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  
  }
  /* .test-figure{
    width: 500px;
    height: 500px;
    -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  
  background: #ffd02b
  } */
  .home-main-circle-for-data-circle{
    height: 280px;
    width: 280px;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  
    /* display: block; */
    position: relative;
    /* justify-content: center; */
    /* border: 0px solid #000; */
    /* border-radius: 50%; */
  
  
  }
  .home-data-circle-0,
  .home-data-circle-1,
  .home-data-circle-2,
  .home-data-circle-3,
  .home-data-circle-4,
  .home-data-circle-5,
  .home-data-circle-6{
    width: 90px;
    height: 90px;
    position: absolute;  
    border: 3px solid #F1F0F5;
    border-radius: 50%;
  }
  .home-data-circle-0{
    top: -48%;
    left: 50%;
    transform: translate(-50%, 48%);
  }
  .home-data-circle-1{
    top: -8%;
    left: 130%;
    transform: translate(-130%, 8%);
  }
  .home-data-circle-2{
    top: 70%;
    left: 150%;
    transform: translate(-150%, -70%);
  }
  .home-data-circle-3{
    top: 140%;
    left: 110%;
    transform: translate(-110%, -140%);
  }
  .home-data-circle-4{
    top: 140%;
    left: -10%;
    transform: translate(10%, -140%);
  }
  .home-data-circle-5{
    top: 70%;
    left: -52%;
    transform: translate(52%, -70%);
  }
  .home-data-circle-6{
    top: -8%;
    left: -32%;
    transform: translate(32%, 8%);
  }
  
  
  
  .home-data-circle-0 .home-triangle,
  .home-data-circle-1 .home-triangle,
  .home-data-circle-2 .home-triangle,
  .home-data-circle-3 .home-triangle,
  .home-data-circle-4 .home-triangle,
  .home-data-circle-5 .home-triangle,
  .home-data-circle-6 .home-triangle{
    width: 30px;
    height: 30px;
    position: absolute;
    border-top: solid 25px #F1F0F5;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
  }
  
  .home-data-circle-0 .home-triangle{
    top: 150%;
    left: 50%;
    transform: translate(-50%, -150%);
  }
  .home-data-circle-1 .home-triangle{
    top:115%;
    left: -30%;
    transform: translate(30%,-115%) rotate(50deg);
  }
  .home-data-circle-2 .home-triangle{
    top: 40%;
    left: -55%;
    transform: translate(55%,-40%) rotate(95deg);
  
  }
  .home-data-circle-3 .home-triangle{
    top:-25%;
    left: -25%;
    transform: translate(25%, 25%) rotate(135deg);
  }
  .home-data-circle-4 .home-triangle{
    top:-25%;
    left: 125%;
    transform: translate(-125%, 25%) rotate(225deg);
  }
  .home-data-circle-5 .home-triangle{
    top: 40%;
    left: 155%;
    transform: translate(-155%, -40%) rotate(-95deg);
  }
  .home-data-circle-6 .home-triangle{
    top: 115%;
    left: 130%;
    transform: translate( -130%,-115%) rotate(-50deg);
  }
  
  
  .home-start-style-circle{
    height: 220px;
    width: 220px;
    border: solid #fff 3px;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  
    display: block;
    position: relative;
    justify-content: center;
  
    border-radius: 50%;
    
  /* -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  
  background: #ffd02b */
  }
  
  .home-start-style-shape{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #F1F0F5;
  }
  
  #circle-inside-style{
    width: 20px;
    height: 20px;
    background: #626262;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  #circle-top{
    position: absolute;
    width: 40px; 
    height: 40px;
    background: #F1F0F5;
    border-radius: 50%;
    border-color: #626262;
    border-width: 5px;
    border-style: solid;
    left: 50%;
    top: -7%;
    transform: translate(-50%, 7%);
  }
  
  
  #circle-left-top{
    position: absolute;
    width: 40px; 
    height: 40px;
    background: #F1F0F5;
    border-radius: 50%;
    border-color: #626262;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    top:17%;
    left: 3%;
    transform: translate(-3%,-17%);  
  }
  #circle-left{
    position: absolute;
    width: 40px; 
    height: 40px;
    background: #F1F0F5;
    border-radius: 50%;
    border-color: #626262;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    top:54%;
    left: -7%;
    transform: translateY(-54%);
    transform: translateX(7%);
  }
  #circle-left-bottom{
      position: absolute;
    width: 40px; 
    height: 40px;
    background: #F1F0F5;
    border-radius: 50%;
    border-color: #626262;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    top:88%;
    left: 21%;
    transform: translateY(-88%);
    transform: translateX(-21%);
  }
  #circle-right-top{
    position: absolute;
    width: 40px; 
    height: 40px;
    background: #F1F0F5;
    border-radius: 50%;
    border-color: #626262;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    top:14%;
    left: 96%;
    transform: translateY(-14%);
    transform: translateX(-96%);
  }
  #circle-right{
    position: absolute;
    width: 40px; 
    height: 40px;
    background: #F1F0F5;
    border-radius: 50%;
    border-color: #626262;
    border-width: 5px;
    border-style: solid;;
    border-radius: 50%;
    top:54%;
    left: 107%;
    transform: translateY(-54%);
    transform: translateX(-107%);
  }
  #circle-right-bottom{
    position: absolute;
    width: 40px; 
    height: 40px;
    background: #F1F0F5;
    border-radius: 50%;
    border-color: #626262;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    top:88%;
    left: 79%;
    transform: translateY(-88%);
    transform: translateX(-79%);
  }
/*
  .home-data-circle-0,
  .home-data-circle-1,
  .home-data-circle-2,
  .home-data-circle-3,
  .home-data-circle-4,
  .home-data-circle-5,
  .home-data-circle-6{
    animation: bounce-in-fwd 1.1s both; 
    animation: name duration timing-function delay iteration-count direction fill-mode;
  }

 @-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
*/