body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  min-width: 320px;
  font-size: 16px;
  color: #626262;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: #b4ad93;
}

a:hover{
  color: #898377
}

.app-header nav{
  background: #fff;
  height: 70px;
}
.navbar-brand{
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-link{
  text-transform: uppercase;
  margin-left: 50px;
}

.navbar-nav a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #ccc;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}
.navbar-nav a:hover::after{
  transform: scale(1);
}

#services, #about, #team{
  min-height:100vh;
  padding-top:70px;
}
.services-title, .services-subtitle{
  text-align: center;
  font-weight: bold;
}
#about{
  background-color: whitesmoke;
}

#basic-navbar-nav{
  background: #fff;
}
.contact-container{
  margin: 0;
  padding: 0;
}
.contact-container img{
  opacity: 0.2;
}

.contact-form button{
  width: 100%;
  height: 70px;
}

.contact-title{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.contact-button-link{
  font-size:28px;
  font-family: 'Ubuntu', sans-serif;
  background: #ffd02b;
  padding: 15px 24px;
  text-align: center;
  color: #000;
  border-radius:  0.5rem;
}
.contact-button-link:hover{
  color: #000;
  opacity: 0.8;
}

.icon-mobile:before {
  content: "\e64f";
}
.contact-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: block;
}

.card-title-ls{
  letter-spacing: 0.2rem;
}

.card-img-component {
  width: '18rem';
  margin: 1rem 0;
}


#services, #about, #team h2,h3{
  margin: 1rem 0;
}

.card-services-component {
  margin: 1rem 0;
  width: 350px;
}

.card-title, .card-subtitle{
  margin-bottom: 1rem;
}


.img-card-container {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #626262;
}

.img-card-container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-project-modal-win{
  margin: 1rem 0
}

.app-footer{
  background-color: #f0f0f0;
  padding: 40px 0;
  color: #000;
}
.footer-left a{
  color: #000;
  margin-right: 20px;
}
.footer-right a{
  color: #626262;
  margin-left: 20px;
}

.projects-container{
  margin-top: 100px;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 1199px){
  .nav-link{
    margin-left: 25px;
  }
}
@media only screen and (max-width: 991px){
  .nav-link{
    margin-left: 0;
  }
}
  