body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  min-width: 320px;
  font-size: 16px;
  color: #626262;
}


img{
  max-width: 100%;
  height: auto;
}

a{
  color: #b4ad93;
}

a:hover{
  color: #898377
}

.navbar-brand{
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-link{
  text-transform: uppercase;
  margin-left: 50px;
}

.navbar-nav a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #ccc;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}
.navbar-nav a:hover::after{
  transform: scale(1);
}

.home-content{
  width: 100%;
}

#services, #about, #team{
  min-height:100vh;
  padding-top:70px;
  width:100%;
}

/* <div id="circle-bottom"></div>               */

#about{
  background-color: whitesmoke;
}

#basic-navbar-nav{
  background: #fff;
}
.contact-container{
  margin: 0;
  padding: 0;
}
.contact-container img{
  opacity: 0.2;
}

.contact-form button{
  width: 100%;
  height: 70px;
}

.contact-title{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.contact-button-link{
  font-size:28px;
  font-family: 'Ubuntu', sans-serif;
  background: #ffd02b;
  padding: 15px 24px;
  text-align: center;
  color: #000;
  border-radius:  0.5rem;
  min-width: 100px;
}

.contact-button-link:hover{
  color: #000;
  opacity: 0.8;
}

.icon-mobile:before {
  content: "\e64f";
}
.contact-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: block;
  min-width: 300px;
}

.card-title-ls{
  letter-spacing: 0.2rem;
}

.card-img-component {
  width: '18rem';
  margin: 1rem 0;
}

/* 
#about, #team h2,h3{
  margin: 1rem 0;
} */


.card-title, .card-subtitle{
  margin-bottom: 1rem;
}


.img-card-container {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #626262;
}

.img-card-container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-project-modal-win{
  margin: 1rem 0
}

.app-footer{
  background-color: #f0f0f0;
  padding: 40px 0;
  color: #000;
}
.footer-left a{
  color: #000;
  margin-right: 20px;
}
.footer-right a{
  color: #626262;
  margin-left: 20px;
}

.projects-container{
  margin-top: 100px;
  margin-bottom: 2.5rem;
}

@media (min-width: 1200px){
  .slogan-1{
    font-size: 3.5em;
  }
  .slogan-2{
    font-size: 2em;
  }
}
@media only screen and (max-width: 1200px){
 
  .nav-link{
    margin-left: 25px;
  }
}
@media only screen and (min-width: 1199px){

}
@media only screen and (max-width: 991px){
  .nav-link{
    margin-left: 0px;
  } 
}

@media only screen and (max-width: 320){
  /* .nav-link{
    margin-left: 0;
  } */
  /* .nav-link{
    margin-left: 0;
  } */
}
.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.navbar-toggler:hover {
  background: rgba(255, 255, 255, 0.1);

}
.navbar-toggler:focus {
  outline-width: 0px;
}

.services-main-content {
  width: 400px;
  height: 400px;
  background-color: #626262;
  color: #fff;
  display: table; 
  shape-outside: polygon(0px 148px, 155px 11px, 319px 55px, 380px 164px, 343px 361px, 72px 298px) content-box;
  clip-path: polygon(0px 148px, 155px 11px, 319px 55px, 380px 164px, 343px 361px, 72px 298px);
  top:50%;
  bottom: 50%;


}
.services-main-content > p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.img-container{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background: #626262;
}
.img-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

/* .card-deck {

} */
/* 
.card-services-modern{
  width: 100px;
  height: 250px;
  background-color: #626262;
  transform: rotate(45deg);
  margin: 80px auto;

} */
